.contact{
    display: flex;
    flex-direction: column;
    width: 30%;
   
    margin-top: 10px;
    margin-bottom: 8px;
}

.title{
    margin: 16px;
}

.address{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form{
    margin-left: 50px;
}

.button{
    width: 30%;
}

.lab1{
    font-size: 15px;
}

.lab2{
    font-size: 15px;
}