* {
  margin: 0;
}

.app_login {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.app_cart{
  text-decoration: none;
  color:black
}

.app_header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.app_logo{
  margin-top: 8px;
  text-decoration: none;
  color: black ;
}