* {
  margin: 0;
  font-size: 11px;
}



.app_login {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.app_cart{
  text-decoration: none;
  float: right;
  color:black
}

.app_cart:hover{
  text-decoration: none;
  color: gray;
}

.app_header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 6px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.app_logo{
  margin-top: 8px;
  text-decoration: none;
  color: black ;
}

.app_logo:hover{
  text-decoration: none;
  color: gray;
}

.signup{
  border: none;
}
.inpt{
  margin-bottom: 30px;
}
.signup{
  background-color:rgb(233, 8, 94);
  border:navajowhite;
  color: white;
  padding: 15px 22px;
  margin:0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.signup:hover{
  color:black;
}
.signin{
  background-color:rgb(233, 8, 94);
  border:navajowhite;
  color: white;
  margin:0px 5px;
  padding: 15px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 13px;
}
.signin:hover{
  color:black;
}
.cart{
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
}