.home {
    display: flex;
    flex-wrap: wrap;
    
}
.heading{
    
    margin:5px 600px;
    font-size: 35px;
    color:rgb(255, 0, 98);
    font-weight: bold;
}
.homepg{
    
    
    margin: 50px 110px;
    width: 100%;
     
}
.loading{
    margin-left: 50%;
    margin-top: 200px;
}

