.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    width: 220px;
    padding: 20px;
   margin: 20px;
    border-radius: 3px;
    border: 1px solid lightgray;
    
  }

  .cartproduct_pricequant{
    display: flex;
    flex-direction: row;
  }

  .product_info {
    margin-bottom: 20px;
  }

  .product_image {
    max-height: 150px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  